<div class="flex flex-col gap-4 p-6">
  <h1 class="text-2xl font-bold text-gray-900">Sobre a Aplicação</h1>
  <div class="flex flex-col gap-4">
    <p class="text-gray-700 text-base">
      Esta aplicação de lista de tarefas foi desenvolvida como parte do Trabalho de Conclusão de Curso (TCC) para demonstrar o uso de tecnologias modernas na construção de uma aplicação web funcional e interativa.
    </p>
    <p class="text-gray-700 text-base">
      O principal objetivo desta aplicação é fornecer uma interface simples e intuitiva para gerenciar tarefas diárias. As funcionalidades incluem adicionar, editar, excluir e marcar tarefas como concluídas.
    </p>
    <p class="text-gray-700 text-base">
      A aplicação foi desenvolvida utilizando as seguintes tecnologias:
    </p>
    <ul class="flex flex-col gap-2 list-none list-inside text-gray-700 border bg-gray-100 shadow-lg rounded-xl p-2">
      <li class="text-semibold">Angular</li>
      <li class="text-semibold">TypeScript</li>
      <li class="text-semibold">Tailwind CSS</li>
      <li class="text-semibold">Angular Material</li>
    </ul>
    <p class="text-gray-700 text-base">
      Esperamos que esta aplicação seja útil e demonstre de forma eficaz as capacidades das tecnologias escolhidas.
    </p>
    <div class="flex justify-end">
      <a 
        href="/"
        class="flex gap-2 bg-gray-300 items-center text-sm px-4 py-2 rounded-xl text-blue-600 hover:underline"
      >
        <mat-icon>arrow_back</mat-icon>
        Ir para a Página Inicial
      </a>
    </div>
  </div>
</div>